version: "3.9"

services:
  redis:
    image: redis:7-alpine
    container_name: redis-sequence
    ports:
      - "6379:6379"
    command: >
      redis-server
      --appendonly yes 
      --save 60 1000
    volumes:
      - redis_data:/data

volumes:
  redis_data:
